@model AltenBooking.Web.Models.DTO.BookingDTO
@{
    ViewData["Title"] = "Create Booking Page";

}

<style>
    .section {
        position: relative;
        height: 100vh;
    }

        .section .section-center {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

    #booking {
        font-family: 'Cabin', sans-serif;
        background-color: #f7f9fa;
    }

    .booking-form {
        position: relative;
        max-width: 977px;
        width: 100%;
        margin: auto;
        background: #fff;
        -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
    }

        .booking-form > .booking-bg {
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            width: 250px;
            background-image: url('../img/background.jpg');
            background-size: cover;
            background-position: center;
        }

        .booking-form > form {
            margin-left: 250px;
            padding: 30px;
            border: 1px solid #f9fafc;
            border-left: 0px;
        }

        .booking-form .form-header {
            margin-bottom: 30px;
        }

            .booking-form .form-header h2 {
                margin: 0;
                margin-bottom: 0px;
                font-weight: 700;
                color: #122244;
                font-size: 35px;
                text-transform: capitalize;
            }

        .booking-form .form-group {
            position: relative;
            margin-bottom: 20px;
        }

        .booking-form .form-control {
            background-color: #f7f9fa;
            height: 40px;
            padding: 0px 10px;
            border-radius: 0px;
            -webkit-transition: 0.2s;
            transition: 0.2s;
            color: #122244;
            border: 0px;
            font-size: 16px;
            font-weight: 700;
            -webkit-box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
            box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
        }

            .booking-form .form-control::-webkit-input-placeholder {
                color: #dde3e8;
            }

            .booking-form .form-control:-ms-input-placeholder {
                color: #dde3e8;
            }

            .booking-form .form-control::placeholder {
                color: #dde3e8;
            }

            .booking-form .form-control:focus {
                -webkit-box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
                box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
            }

        .booking-form input[type="date"].form-control:invalid {
            color: #dde3e8;
        }

        .booking-form select.form-control {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

            .booking-form select.form-control + .select-arrow {
                position: absolute;
                right: 0px;
                bottom: 4px;
                width: 32px;
                line-height: 32px;
                height: 32px;
                text-align: center;
                pointer-events: none;
            }

                .booking-form select.form-control + .select-arrow:after {
                    content: '\279C';
                    display: block;
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                    color: #dddee9;
                    font-size: 14px;
                }

        .booking-form .form-label {
            color: #b5c1cc;
            font-weight: 700;
            -webkit-transition: 0.2s;
            transition: 0.2s;
            text-transform: uppercase;
            line-height: 24px;
            height: 24px;
            font-size: 14px;
            z-index: 1;
        }

        .booking-form .form-btn {
            margin-top: 10px;
        }

        .booking-form .submit-btn {
            color: #fff;
            background-color: #6499ff;
            font-weight: 700;
            padding: 13px 35px;
            font-size: 16px;
            border: none;
            width: 100%;
        }

    @@media only screen and (max-width: 480px) {
        .booking-form > .booking-bg {
            display: none;
        }

        .booking-form > form {
            margin-left: 0px;
        }
    }
</style>

@section Scripts{
<script>
    $(function(){
        var url = "/Booking/GetBusyDates";
        $.get(url, function (data) {
            var array = data.toString().split(',');
            var trima = []
                 for (i = 0; i < array.length; i++ ) {
                     trima.push(array[i].substring(10,""))
                 }
                 $('#dateIn2').datepicker({
                     beforeShowDay: function(date){
                         var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                         return [ trima.indexOf(string) == -1 ]
                     }
                 });
                  $('#dateOut2').datepicker({
                     beforeShowDay: function(date){
                         var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                         return [ trima.indexOf(string) == -1 ]
                     }
                 });
        });
    });

     $(function(){
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
            day = '0' + day.toString();

        var minDate = year + '-' + month + '-' + day;
        var maxDate = year + '-' + "0"+(parseFloat(0+month) + 1) + '-' + day

        $('#dateIn2').datepicker("option", "minDate",dtToday);
        $('#dateIn2').datepicker("option", "maxDate",new Date(dtToday.getFullYear(), dtToday.getMonth()+1, dtToday.getDay()));
        $('#dateOut2').datepicker("option", "minDate",dtToday);
        $('#dateOut2').datepicker("option", "maxDate",new Date(dtToday.getFullYear(), dtToday.getMonth()+1, dtToday.getDay()));
    });



    //$(function(){
    //      var array = ["2022-07-14 00:00:00","2022-07-15 00:00:00","2022-07-16 00:00:00", "2022-07-17 00:00:00", "2022-07-18 00:00:00"]
    //             var trima = []
    //             for (i = 0; i < array.length; i++ ) {
    //                 trima.push(array[i].substring(10,""))
    //             }
    //             $('#dateIn2').datepicker({
    //                 beforeShowDay: function(date){
    //                     var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
    //                     return [ trima.indexOf(string) == -1 ]
    //                 }
    //             });
    //              $('#dateOut2').datepicker({
    //                 beforeShowDay: function(date){
    //                     var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
    //                     return [ trima.indexOf(string) == -1 ]
    //                 }
    //             });
    //});

</script>

}

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="booking-bg"></div>
                    <form asp-action="CreateBooking" method="post">
                        <div class="form-header">
                            <h2>Make your reservation</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Check In</span>
                                    <input type="text" class="form-control " id="dateIn2" asp-for="ArriveDate">
                                    <span asp-validation-for="ArriveDate" class="text-danger"></span>
                                   @* <input class="form-control" type="date" required>*@
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Check Out</span>
                                    <input class="form-control" type="text" id="dateOut2" asp-for="OutDate">
                                    <span asp-validation-for="OutDate" class="text-danger"></span>
                                    @*<input class="form-control" type="date" required>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Number of Guests</span>
                                    <input type="number" class="form-control" asp-for="NumberGuests" value=0 />
                                    <span asp-validation-for="NumberGuests" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*<div class="form-group">
                                    <span class="form-label">Children</span>
                                    <select class="form-control">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                    </div>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="form-label">Room</span>
                            <select class="form-control" asp-for="Room">
                                <option value="">--Select room--</option>
                                <option value="Family Room (1 to 4 People)">Family Room (1 to 4 People)</option>                                
                            </select>
                            <span class="select-arrow"></span>
                            <span asp-validation-for="Room" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span class="form-label">Special Request</span>
                            <textarea class="form-control" asp-for="Request"></textarea>                               
                        </div>
                        <div class="form-btn">
                            <button class="submit-btn">Book Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>